Changelog since the last release:

| Hash | Author | Title | URL |
| :---: | :---: | :---: | :---: |
{{#commits}}
    | {{{hash}}} | {{{authorName}}} | {{{messageTitle}}} | [Click here](https://github.com/srcres258/CreativeTabSearch/commit/{{hashFull}}) |
{{/commits}}
